.strong { font-weight: bold; }
.link { color: #6cc6e4; }
.link:hover { color: #0090aa; }

.header {
  max-width: 750px;
  margin: 0 auto;
  padding: 70px 20px;
}
.header__title {
  margin-bottom: 50px;
  font-size: 36px;
  text-align: center;
}
.header__thumb {
  width: 150px;
  margin: 0 auto 30px;
  -webkit-filter: sepia(50%);
  filter: sepia(50%);
}
.header__thumb__img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}
.header__profile > li { text-align: center; }
.header__profile > li:not(:first-child) { margin-top: 5px; }

.section { padding: 50px 20px; }
.main > .section:nth-child(odd) { background-color: #E8F2F9; }
.section__inner {
  max-width: 750px;
  margin: 0 auto;
}
.section__body { line-height: 24px; }
.section__body > .section__body__txt:not(:first-child) { margin-top: 20px; }

.headline {
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
}
.headline__txt {
  display: inline-block;
  padding: 0 10px 10px;
  border-bottom: 2px solid #222;
}

.biography > li,
.biography__items > li {
  position: relative;
  padding-left: 1em;
}
.biography > li:before {
  position: absolute;
  top: 8px;
  left: 5px;
  width: 5px;
  height: 5px;
  background-color: #222;
  content: "";
}
.biography.is-item > li:before {
  background-color: transparent;
  border: 1px solid #222;
}
.biography > li:not(:first-child) { margin-top: 10px; }
.biography__title { margin-bottom: 10px; }

.activity > li { text-align: center; }
.activity > li:not(:first-child) { margin-top: 5px; }

.footer {
  padding: 50px 0 20px;
  text-align: center;
}
